
    <!-- Custom styles for footer -->
    <style>
        .footer {
            /**position: fixed;*/
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        /* Add some spacing to the main content to prevent it from overlapping with the footer */
        .main-content {
            margin-bottom: 80px; /* Adjust this value to match the total height of your footer */
        }
    </style>

<body>

   

    <!-- Footer section using Bootstrap classes -->
    <footer class="footer bg-dark text-light">
        <div class="container">
            <div class="row ">
                <div class="col ">
                    <h5 class="">TibClau</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white " href="../index.php?route=us"> About Us</a></li>
                        <li><a class="text-white " href="../index.php?route=tours"> Tours and Events</a></li>
                        <li><a class="text-white " href="../index.php?route=work"> Archive</a></li>
                        <li><a class="text-white " href="../index.php?route=contact"> Contact</a></li>
                    </ul>
                </div>
                
                <div class="col">
                    <h6>Follow us on Social Media:</h6>
                    <!-- Social Media Icons -->
                    <a href="https://www.facebook.com/example" target="_blank" class="text-white mr-4"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/example" target="_blank" class="text-white mr-4"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/example" target="_blank" class="text-white mr-4"><i class="fab fa-instagram"></i></a>
                    <!-- Add more social media icons and links as needed -->
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="m-0">© 2024 TibClau. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

