<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="View/Content/Extracss/header.css">
    <title>Bootstrap Header</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <!-- Header section using Bootstrap classes -->
    <header class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.php?route=home"><h3>TibClau</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.php?route=us"><i class="fas fa-info-circle"></i> About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.php?route=tours"><i class="fas fa-calendar-alt"></i> Tours and Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.php?route=archive"><i class="fas fa-archive"></i> Archive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.php?route=contact"><i class="fas fa-envelope"></i> Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.php?route=work"><i class="fas fa-user-plus"></i> Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.php?route=work"><i class="fas fa-sign-in-alt"></i> Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    
    

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-rvOOUEwqbZR10sLCAzG7qa9CYEWjA0qIVGAFtU8vVZ7Lh2xKdB4DH1liGkv5c9U/" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-Z8x/xAjznNn5VJPOJ2I6coCkPYYXwhxRTu" crossorigin="anonymous"></script>
</body>
</html>
